# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/

# IDEs / Editors
.vscode/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Distribution
build/
dist/
*.egg-info/

# Environment variables / Secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test results
test_results/
*.png